<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2"> 
        <div data-id="visitor_count_real_time" data-view="Number" data-title="Current Visitors" ></div> 
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="device_category" data-view="Pie" data-title="Devices"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="traffic_sources" data-view="Pie" data-title="Sources"></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="top_pages" data-view="List" data-unordered="false" data-title="Top Pages"></div>
    </li>

  </ul>
</div>
